{
  "root": true,
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb-typescript",
    "plugin:@stencil/recommended"
  ],
  "ignorePatterns": ["**/*.spec.*", "**/*.e2e.*", "src/tests/*", "./storybook", "./stencil.config.js"],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/no-unescaped-entities": 0,
    "react/no-unknown-property": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-one-expression-per-line": 0,
    "import/prefer-default-export": 0,
    "@stencil/strict-boolean-conditions": 0,
    "function-paren-newline": 0,
    "linebreak-style": 0,
    "@typescript-eslint/naming-convention": 0,
    "max-len": 0,
    "no-restricted-syntax": 0,
    "@stencil/required-jsdoc": 0,
    "react/jsx-tag-spacing": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "@typescript-eslint/lines-between-class-members": 0,
    "object-curly-spacing": 0,
    "object-curly-newline": 0,
    "import/no-extraneous-dependencies": 0
  }
}
