// with shadow dom
:host {
  display: block;
  font-family: sans-serif;
}
$selector: '.my-component';

#{$selector} {
  font-size: ms(0);
  display: block;
  // block
  &__name {
    color: $color-primary;

    #{$selector}__example-for-inner-block {

    }
  }
  // modifier
  &--modified {
    text-align: center;
  }
}
