@import '#$componentNameSelector';

// with shadow dom
:host {
  display: block;
  font-family: sans-serif;
}

#{$componentNameSelector} {
  font-size: ms(0);
  display: block;
  // block
  &__name {
    color: $color-primary;

    #{$componentNameSelector}__example-for-inner-block {

    }
  }
  // modifier
  &--modified {
    text-align: center;
  }
}
