$color-orange-50: #fef1da;
$color-orange-100: #ffd385;
$color-orange-200: #fba308;
$color-orange-300: #fb9105;
$color-orange-400: #f0670a;

$color-mint-25: #f5fcff;
$color-mint-50: #e0f7f8;
$color-mint-100: #80dde4;
$color-mint-150: #51d0b9;
$color-mint-200: #00abba;
$color-mint-300: #0395a1;
$color-mint-400: #055e5f;

$color-green-50: #ebfdeb;
$color-green-100: #94f3af;
$color-green-200: #12e64e;
$color-green-300: #00bf3b;
$color-green-400: #097929;

$color-red-50: #ffe1e6;
$color-red-100: #ffa3a3;
$color-red-200: #ff3535;
$color-red-300: #c92a2a;
$color-red-400: #871c1c;

$color-white: #fff;
$color-black: #000;
$color-neutral-50: #f7f7f8;
$color-neutral-75: #f5fcff;
$color-neutral-100: #e7e9ea;
$color-neutral-200: #cbcfd2;
$color-neutral-300: #b0b6ba;
$color-neutral-400: #97a0a5;
$color-neutral-500: #808a90;
$color-neutral-600: #68747a;
$color-neutral-700: #4f5d65;
$color-neutral-800: #35444c;
$color-neutral-900: #263238;
