/* stylelint-disable scale-unlimited/declaration-strict-value */
// For font imports only
// https://github.com/agitator/roboto-webfont
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
